.main {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    opacity: 0;
    transition: opacity 1s;
}

.main-loaded {
    opacity: 1;
}


label[data-v-16a55a49] {
    font-size: small;
    font-weight: bold;
}


label[data-v-62e004be]{
    font-size: small;
    font-weight: bold;
}


label[data-v-7474f03a] {
    font-size: small;
    font-weight: bold;
}


label[data-v-2eabb99f] {
    font-size: small;
    font-weight: bold;
}


label[data-v-4ebb17c2] {
    font-size: small;
    font-weight: bold;
}


label[data-v-0b022ea5] {
    font-size: small;
    font-weight: bold;
}

