.main {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    opacity: 0;
    transition: opacity 1s;
}

.main-loaded {
    opacity: 1;
}


label[data-v-39e775d5] {
    font-size: small;
    font-weight: bold;
}


label[data-v-57ce85f4] {
    font-size: small;
}


label[data-v-f1a89e5e] {
    font-size: small;
}


label[data-v-48690e8e] {
    font-size: small;
    font-weight: bold;
}


label {
    font-size: small;
    font-weight: bold;
}


label[data-v-35e61b79] {
    font-size: small;
}


label {
    font-size: small;
    font-weight: bold;
}

